# Ignored folders
node_modules/
dist/*
!dist/.gitkeep

# Other files
npm-debug.log

# Logs folder
logs/*
!logs/.gitkeep

# Public folder
public/uploads/*
!public/uploads/images/.gitkeep

# Other files
# do not commit your .env file
.env

# System Files
.DS_Store
Thumbs.db

# IDEs
.idea

# Coverage folder
coverage/
